@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');



/* make the css responsive */

/* /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */



/* Setting current breakpoint: 1024 px ++ */


body {
  margin: 0px;
}

/* Navigation */
#navbar {
  position: absolute;
  background-color: #fff;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid black;
  padding: 0px 15px;
  z-index: 10;
  margin: 0px;
}

#navbar .container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

ul li {
  padding: 6px 0px;
  margin-left: 35px;
  justify-content: space-around;
}

ul li a {
  --fill-color: #d9243d;
  position: relative;
  display: block;
  padding: 4px 0px;
  font: 700 2rem Raleway, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--fill-color);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
  background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  margin: 3px;
  letter-spacing: 3px;
}

ul li a:hover {
  background-size: 100%;
}


/* Banner */
#banner {
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background: rgba(131, 58, 180, 0.3);

}

#banner:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("images/ian-schneider-PAykYb-8Er8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
  height: 100%;
  width: 100%;
}

#banner .container {
  display: flex;
  justify-content: center;
}

.quote {
  color: #fff;
  max-width: 80%;
  text-transform: uppercase;
  font-family: 'FFDINWebConBold', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#scroll-down-arrow {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -150px;
  height: 47px;
  width: 300px;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  font-family: 'FFDINWebConBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: 22px;
}

#scroll-down-arrow a {
  text-decoration: none;
}

#scroll-down-arrow:hover {
  transform: scale(1.1, 1.1);
}

/* Home Section */

#home {
  height: 60vh;
  padding: 50px 0px;
  width: 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#home .container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  justify-content: space-around;
  padding: 10px 30px;
}

#home .img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img img {
  max-width: 100%;
  max-height: 100%;
  height: 1.5em;
  width: 1.5em;
}

.text {
  max-width: 1000px;
  text-align: center;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: auto;
  box-sizing: border-box;
  font-size: 12pt;
  line-height: 1.7em;
}
#test {
  height: 100vh;
}
/* Newsletters */

#newsletters {
  height: 100vh;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/light-grey-curve-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#newslettersCarousel{
  align-items: center;
  width: 70%;
}


/* Need to work on NL Card debugging */
.nl-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 56.25em;
  height: 15.6875em;
}

.nl-img {
  background-image: url("images/reading_man.jpeg");
  min-width: 43%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.nl-card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nl-card h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.nl-img {
  background-color: #2A265F;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.nl-img a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.nl-info {
  padding: 30px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Webinars */
#webinars {
  font-family: "Roboto", sans-serif;
}

/*Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}



/* The card */
.webinar-card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*object-fit: cover; */
/*object-position: center; */
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

.right h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author>img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.author h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

.right p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
.webinar-card h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

.webinar-card h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
.webinar-card ul {
  margin-left: 250px;
}

.webinar-card li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#Ideasection{
  background-image: url("images/light-grey-curve-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f1f4f9;
}

#gap{
  height: 60vh
}

#ideas{
  text-align: center; 
}

#shareIdeasButton{
  background-color: rgb(0,0,255,0.33);
  text-decoration: none;
  border-style: none;
  border-radius: 50%;
  padding: 20px;
  width: 300px;
  margin: 100px;
  margin-bottom: 250px;
}

#shareIdeasLink{
  text-align: center;
  text-decoration: none;
  color: #141223;
  font-family: cursive;
}

#shareIdeasTitle{
  font-weight: bold;
  color: rgb(0,100,255);
  font-family: cursive;
}


